
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.cmb-0{
    margin-bottom: 0;
}
.margin-10{
    display: table;
    height: 10px;
    width: 100%;
}
.question-body{
    width: 100%;
    background:linear-gradient(112.5deg, rgba(232, 232, 232, 0.03) 0%, rgba(232, 232, 232, 0.03) 2%,rgba(231, 231, 231, 0.03) 2%, rgba(231, 231, 231, 0.03) 4%,rgba(231, 231, 231, 0.03) 4%, rgba(231, 231, 231, 0.03) 11%,rgba(2, 2, 2, 0.03) 11%, rgba(2, 2, 2, 0.03) 67%,rgba(231, 231, 231, 0.03) 67%, rgba(231, 231, 231, 0.03) 90%,rgba(111, 111, 111, 0.03) 90%, rgba(111, 111, 111, 0.03) 100%),linear-gradient(157.5deg, rgba(210, 210, 210, 0.03) 0%, rgba(210, 210, 210, 0.03) 17%,rgba(254, 254, 254, 0.03) 17%, rgba(254, 254, 254, 0.03) 18%,rgba(96, 96, 96, 0.03) 18%, rgba(96, 96, 96, 0.03) 44%,rgba(159, 159, 159, 0.03) 44%, rgba(159, 159, 159, 0.03) 70%,rgba(24, 24, 24, 0.03) 70%, rgba(24, 24, 24, 0.03) 82%,rgba(16, 16, 16, 0.03) 82%, rgba(16, 16, 16, 0.03) 100%),linear-gradient(22.5deg, rgba(47, 47, 47, 0.03) 0%, rgba(47, 47, 47, 0.03) 32%,rgba(124, 124, 124, 0.03) 32%, rgba(124, 124, 124, 0.03) 40%,rgba(200, 200, 200, 0.03) 40%, rgba(200, 200, 200, 0.03) 42%,rgba(16, 16, 16, 0.03) 42%, rgba(16, 16, 16, 0.03) 64%,rgba(243, 243, 243, 0.03) 64%, rgba(243, 243, 243, 0.03) 94%,rgba(93, 93, 93, 0.03) 94%, rgba(93, 93, 93, 0.03) 100%),linear-gradient(90deg, #FFF,#FFF);
    display: table;
    padding: 30px 0;
    .question-paper{
        width: 100%;
        display: table;
        padding: 30px 15px;
        border-radius: 2px;
        .c-logo{
            width: 100%;
            display: table;
            margin-bottom: 30px;
            text-align: center;
            img{
                width: 450px;
            }
        }
        .exam-name{
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 30px;
            text-shadow: 2px 2px 2px rgba(90,90,90,0.44);
            color: #5a5a5a;
        }
        .c-card{
            border-radius: 0;
            border: none;
            box-shadow: 0px 1px 2px #858585;
            margin-bottom: 40px;
            &.no-margin{
                margin-bottom: 0;
            }
            &.bottom-shadow{
                box-shadow: 0px -1px 3px 1px #8585
            }
            .c-header{
                background-color: #1F9CD7;
                color: #ffffff;
                font-weight: 600;
                border-radius: 0;
            }
            .c-body{
                border-radius: 0;
            }
            .c-control{
                border: none;
                border-radius: 0;
                outline: 0;
                box-shadow: 0px 0px 6px 1px #dadada;
            }
            .i-height{
                height: 145px;
            }
            .c-label{
                color: #716d6d;
                font-weight: 600;
            }
        }
        .q-control{
            border: none;
            border-radius: 0;
            outline: 0;
            box-shadow: 0px 1px 2px #858585;
            height: 150px;
        }
        .btn-theme{
            background-color: #1F9CD7;
            border-color: #1F9CD7;
            font-weight: 700;
        }
        .ques-detail{
            font-size: 12px;
            background: #ffffff;
            box-shadow: 0px 0px 3px #858585;
            padding: 15px;
            margin-top: 0px;
            position: relative;
            a{
                color: #1f9cd7;
            }
            .detail-nb{
                color: #807d7d;
                font-weight: 700;
            }
        }
    }
}
